:root {
  --font-primary: 'DM Sans', sans-serif;
  --color-body-bg: hsl(26.7, 65.9%, 92%);
  --color-main-bg: hsl(33.3, 100%, 98.2%);
  --color-red-bg: hsl(10.1, 79%, 64.5%);
  --color-cyan-bg: hsl(186, 34.3%, 60%);
  --color-black: hsl(25, 47.4%, 14.9%);
  --color-white: hsl(0, 0%, 100%);
  --color-brown: hsl(27.5, 9.9%, 52.5%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea,
button {
  border: none;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-body-bg);
}

.wrapper {
  padding: 70px 16px;
  max-width: 33.75rem;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  margin-bottom: 16px;
  padding: 20px 24px 22px 20px;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-red-bg);
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
  line-height: 1.9375rem;
}

main,
footer {
  padding: 24px 20px;
  color: var(--color-brown);
  background-color: var(--color-main-bg);
}

main {
  padding-bottom: 20px;
  border-radius: 10px 10px 0 0;
}

main h2 {
  font-size: 1.5rem;
  line-height: 1.9375rem;
  color: var(--color-black);
}

#chart {
  margin-left: -0.3125rem;
  margin-right: -0.3125rem;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
  border-radius: 0 0 10px 10px;
}

footer hr {
  flex-basis: 100%;
  border: 1px solid var(--color-body-bg);
  margin-bottom: 24px;
}

header p,
footer p {
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

footer h2,
footer .percent {
  font-weight: 700;
  color: var(--color-black);
}

footer h2 {
  margin-top: 4px;
  font-size: 1.875rem;
  line-height: 2.4375rem;
}

.footer-right {
  text-align: right;
  align-self: flex-end;
}

@media (min-width: 33.75em) {
  .wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
  }

  header {
    margin-top: auto;
    margin-bottom: 24px;
    padding: 32px 39px 25px 32px;
  }

  header h1 {
    margin-top: 8px;
    font-size: 2rem;
    line-height: 2.625rem;
  }

  main {
    padding: 32px 40px 0;
  }

  main h2 {
    font-size: 2rem;
    line-height: 2.625rem;
    margin-bottom: 18px;
  }

  #chart {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }

  footer {
    margin-bottom: auto;
    padding: 32px 40px 40px;
  }

  footer hr {
    margin-bottom: 32px;
  }

  header p,
  footer p {
    font-size: 1.125rem;
    line-height: 1.4375rem;
  }

  footer h2 {
    font-size: 3rem;
    line-height: 3.875rem;
  }

}